<template>
  <!--    :background-color="$vuetify.theme.themes[theme].background"-->

  <v-bottom-navigation
    elevation="0"
    :value="value"
    color="primary"
    shift
  >



      <v-btn  v-for="(item, i) in items"
              :key="i"
              :to="item.to"
              router
              exact>
        <span >{{ item.title }}</span>

        <v-icon >{{ item.icon }}</v-icon>
      </v-btn>




<!--    <v-btn>-->
<!--      <span>Home</span>-->

<!--      <v-icon>mdi-television-play</v-icon>-->
<!--    </v-btn>-->

<!--    <v-btn>-->
<!--      <span>Cart</span>-->

<!--      <v-icon>mdi-music-note</v-icon>-->
<!--    </v-btn>-->

<!--    <v-btn>-->
<!--      <span>Help</span>-->

<!--      <v-icon>mdi-book</v-icon>-->
<!--    </v-btn>-->

<!--    <v-btn>-->
<!--      <span>Account</span>-->

<!--      <v-icon>mdi-image</v-icon>-->
<!--    </v-btn>-->
  </v-bottom-navigation>

</template>
<script>
export default {
  name: 'App',
  computed: {
    theme() {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light'
    },
    color () {
      switch (this.value) {
        case 0: return 'blue-grey'
        case 1: return 'teal'
        case 2: return 'brown'
        case 3: return 'indigo'
        default: return 'blue-grey'
      }
    },
  },
    data () {
      return {
        value: 0,

        items: [
          {
            icon: 'mdi-home',
            title: 'Home',
            to: '/'
          },
          {
            icon: 'mdi-cart',
            title: 'Cart',
            to: '/cart'
          },
          {
            icon: 'mdi-help',
            title: 'Help',
            to: '/help'
          },
          {
            icon: 'mdi-account',
            title: 'Account',
            to: '/accounts'
          }
        ],
      }
    }


};
</script>
