<template>
  <v-app >

    <v-app-bar
      elevation="0"
      fixed
      app
    >

      <v-toolbar-title >
        <v-img
          class="ml-3"
        max-height="50"
        max-width="80"
        src="/logo-tendo.png"
        alt="Vuetify.js"
      ></v-img></v-toolbar-title>

      <v-spacer />


<!--        <v-switch-->
<!--          v-model="$vuetify.theme.dark"-->
<!--          class="my-auto"-->
<!--          inset-->
<!--          persistent-hint-->
<!--        ></v-switch>-->



    </v-app-bar>
    <v-main class="v_main_">
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer
      v-model="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer
      :absolute="!fixed"
      app
      class="p-0"
    >
      <Bottombar/>
    </v-footer>
  </v-app>
</template>



<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: true,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Tendo'
    }
  }
}
</script>

<style scoped>
#app {
  font-family: 'Lato', sans-serif;
}
footer.v-footer.p-0.v-sheet.theme--dark.v-footer--fixed {
  padding: 0px;
}
.v_main_{
margin-bottom: 60px !important;
}
.v-bottom-navigation.v-item-group.theme--light.v-bottom-navigation--shift {
  box-shadow: none;
}
footer.v-footer.p-0.v-sheet.theme--light.v-footer--fixed {
  padding: 0px;
}
a.v-tab {
  width: 100%;
}

</style>
