<template>
  <v-row>
    <v-col class="text-center">
      <h3 class="grey--text text--darken-1 pb-2 " >Derrick's Shop</h3>
      <v-sheet
        color="green accent-1"
        height="100"
        class="pa-8 secondary rounded-circle d-inline-block"
      ><strong>tendo</strong></v-sheet>
      <v-toolbar-title class="subtitle-2 mt-2">Derrick</v-toolbar-title>
      <v-toolbar-title class="subtitle-2 grey--text text--darken-1">Referral Code: <strong class="grey--text text--darken-1" >Der555</strong></v-toolbar-title>
      <v-toolbar-title class="subtitle-2"><a>Derrick.soko.world</a></v-toolbar-title>
      <div class="my-2">
        <v-btn
          small
          block
          class="custom-transform-class text-none"
          color="primary"
          dark
        >
          Invite a friend
        </v-btn>
      </div>
          <v-tabs
            height="50"
           centered
            v-model="tab"
          >
            <v-tabs-slider></v-tabs-slider>

            <v-tab  href="#tab-1">
              <span>Orders</span>
            </v-tab>
            <v-tab-item>
              Wagwan orders
            </v-tab-item>

            <v-tab href="#tab-2">
              <span>Wishlist</span>
            </v-tab>
            <v-tab-item>
              Wagwan
            </v-tab-item>

          </v-tabs>



    </v-col>
  </v-row>
</template>
<style>
a.v-tab {
  width: 100%;
}
</style>
