<template>
  <v-row>
    <v-col class="text-center">
      <v-toolbar-title>Help</v-toolbar-title>

      <v-tabs
        height="50"
        centered
        v-model="tab"
        icons-and-text
      >
        <v-tabs-slider></v-tabs-slider>
        <v-tab  >
          <span>Learn</span>

        </v-tab>
        <v-tab-item>
          Learn

        </v-tab-item>
        <v-tab >
          <span>FAQ</span>

        </v-tab>
        <v-tab-item>
          <v-card
            elevation="0"
            class="mx-auto"
            max-width="500"
          >
          <v-list>
            <v-list-group
              v-for="item in items"
              :key="item.title"
              v-model="item.active"
              no-action
            >
              <template v-slot:activator>

                  <h5 class="title_item pt-3">{{item.title}}</h5>
                <v-divider></v-divider>



              </template>

              <v-list-item
                v-for="child in item.items"
                :key="child.title"
              >
                <v-list-item-content>
                  <p class="subtitle-2 grey--text text--darken-1">{{child.title}}</p>
                </v-list-item-content>
              </v-list-item>


            </v-list-group>
          </v-list>
          </v-card>
        </v-tab-item>

        <v-tab >
          <span>Contact us</span>

        </v-tab>
        <v-tab-item>
          Wagwan
        </v-tab-item>

      </v-tabs>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        action: 'mdi-ticket',
        items: [{ title: 'List Item' }],
        title: 'What is tendo about?',
      },
      {
        action: 'mdi-silverware-fork-knife',
        active: true,
        items: [
          { title: 'Breakfast & brunch' }

        ],
        title: 'How does Tendo work?',
      },
      {
        action: 'mdi-school',
        items: [{ title: 'List Item' }],
        title: 'How do I make money on Tendo?',
      },
      {
        action: 'mdi-run',
        items: [{ title: 'List Item' }],
        title: 'How much do I need to start?',
      },
      {
        action: 'mdi-bottle-tonic-plus',
        items: [{ title: 'List Item' }],
        title: 'Where do you operate?',
      },
      {
        action: 'mdi-content-cut',
        items: [{ title: 'List Item' }],
        title: 'Who can be a Tendo Merchant?',
      },
      {
        action: 'mdi-tag',
        items: [{ title: 'List Item' }],
        title: 'What if I have never sold online before?',
      },
    ],
  }),
}
</script>
<style>
a.v-tab {
  width: 100%;
}
.title_item{
  width: 100%;
  position: relative;
  display: flex;
}
</style>
