<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">

        <v-row class="mx-2 my-2 mx-auto">
          <v-text-field
            full-width
            filled
            label="Search product"
            rounded
            dense
            prepend-inner-icon="mdi-magnify"
            clearable
          ></v-text-field>
          <v-badge
            bordered
            color="error"
            content="2"
            overlap
          >
          <v-btn
            class="mx-2"
            small
            fab
            elevation="0"
            color="#f2f2f2"
            nuxt
            to="/cart"
          >
            <v-icon
              color="#797979"
            size="23">
              mdi-cart
            </v-icon>
          </v-btn>
          </v-badge>
          <v-btn
            elevation="0"
            class="mx-2"
            color="#f2f2f2"
            small
            fab
          >
            <v-icon
              color="#797979"
              dark>
              mdi-heart
            </v-icon>
          </v-btn>
        </v-row>
      <h3 class="ml-3">Special for you</h3>
      <v-row class="mx-2 my-2">

        <div class="special_cards pb-3">
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
        </div>

      </v-row>

      <v-card
        ripple
        max-width="100%"
        class="mx-2"
        elevation="0"
        color="#4c3198"
        dark
      >
        <v-sheet height="100" color="#4c3198">
          <h5 class="pl-5 pt-5 caption" >Become a premium merchant</h5>
          <p class="px-5 subtitle-1 500 ">Get 10% discount on products + free delivery</p>
        </v-sheet>
          <v-sheet color="#25194b" class="pr-5 pl-4">
            <v-row>
            <h6 class="px-5 py-3 flex">Activate now</h6>

            <v-icon

              color="white"
            >
           mdi-chevron-right
            </v-icon>
            </v-row>
          </v-sheet>

      </v-card>

      <v-sheet
        class="mx-auto"
        elevation="0"
        max-width="100%"
      >
        <v-slide-group
          v-model="model"
          class="pa-4"
          active-class="success"
        >
          <v-slide-item
            v-for="n in 15"
            :key="n"
            v-slot="{ active, toggle }"
          >
            <v-card
              elevation="0"
              :color="active ? undefined : '#feecde'"
              class="ma-2"
              height="50"
              width="50"
              ripple
              @click="toggle"
            >
              <v-row
                class="fill-height"
                align="center"
                justify="center"
              >

              </v-row>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </v-sheet>

      <h3 class="ml-3">Popular Products</h3>
      <v-row class="mx-2 my-2">

        <div class="special_cards pb-3">
          <v-card
            ripple
            max-width="100"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
          <v-card
            ripple
            max-width="250"
            class="mr-3"
          >
            <v-img
              class="white--text align-end"
              height="100px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <h5 class="px-5">Top 10 Australian beaches</h5>
              <v-card-text>These products are sold out but will be returning soon</v-card-text>
            </v-img>
          </v-card>
        </div>

      </v-row>

    </v-col>
  </v-row>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  data: () => ({
    model: null,
  }),
  components: {
    Logo,
    VuetifyLogo
  }
}
</script>
<style>
.v-badge__wrapper {
  flex: 0 1;
  height: 100%;
  left: -4px;
  pointer-events: none;
  position: absolute;
  top: 5px;
  width: 100%;
}
.special_cards{
  display: flex;
  overflow-x: auto;
}
</style>
